
.form-group {
    border-bottom: 1px solid #777;
    margin: 20px 0 0;
}

.form-group input {
    border: none;
    outline: none;
    padding: 8px 15px;
    width: 100%;
    font-size: 0.9rem;
}

.payment_btn {
    display: flex;
    margin: 0 auto;
}

.disable_btn {
    border: none;
    padding: 7px 25px;
    background: #897e7e;
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    cursor:none !important;
    transition: 0.3s;
}

.checkout_bill {
    background: #fde4e4;
    padding: 30px;
}

.checkout_total {
    border-top: 1px solid #212245;
    padding-top: 30px;
}